body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------ACTIVITY---------------------------------------------------- */

.activity-container {
  width: 90vw;
  height: 90vh;
  padding: 4rem 5rem;
  display: flex;

  background-color: brown;
}

.activity-img {
  width: 5rem;
  height: 5rem;
}
