* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* #root {
  height: 100%;
  box-sizing: border-box;
} */

/* --------------------------ACTIVITY---------------------------------------------------- */

.activity-container {
  height: 100vh;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* justify-content: space-between; */

  background-color: brown;
}

.activity-column {
  padding: 4rem 5rem;
  background-color: blanchedalmond;
}

.activity-img {
  width: 25rem;
  height: 25rem;
}

.activity-small-text {
  font-size: 1rem;
}

.activity-medium-text {
  font-size: 1.4rem;
}
